.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 80px 60px;
}

.collection__heading {
  font-size: var(--font-size-h2-desktop);
  line-height: var(--line-height-h2-desktop);
  font-weight: var(--font-weight-regular);
}

.collection__wrapper {
  position: relative;
  width: 100%;
}

.collection__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}

.collection__item-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.collection__item-heading,
.collection__item-price {
  font-size: var(--font-size-text-lg);
  line-height: var(--line-height-text-lg);
  font-weight: var(--font-weight-regular);
}

.collection__item-price {
  color: var(--color-gray-300);
}

.collection__button-next {
  position: absolute;
  right: -20px;
  top: 50%;
  z-index: 1;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

@media (min-width: 768px) and (max-width: 1279px) {
  .collection {
    padding-right: 0;
  }

  .collection__button-next {
    display: none;
  }
}

@media (max-width: 767px) {
  .collection {
    gap: 32px;
    padding: 60px 0px 60px 16px;
  }

  .collection__heading {
    font-size: var(--font-size-h2-mobile);
    line-height: var(--line-height-h2-mobile);
  }

  .collection__button-next {
    display: none;
  }
}
