.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 48px;
  padding: 80px 60px;
  background-color: var(--color-gray-50);
}

.faq__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq__heading {
  font-size: var(--font-size-h2-desktop);
  line-height: var(--line-height-h2-desktop);
  font-weight: var(--font-weight-regular);
}

.faq__text {
  color: var(--color-gray-300);
}

.faq__accordion {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 872px;
  width: 100%;
}

.faq__accordion-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 8px;
  background-color: var(--color-white);
}

.faq__accordion-item.active .faq__accordion-content {
  padding: 0 24px 24px 24px;
}

.faq__accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--color-white);
}

.faq__accordion-heading {
  font-size: var(--font-size-text-lg);
  line-height: var(--line-height-text-lg);
  font-weight: var(--font-weight-regular);
}

.faq__accordion-content {
  padding: 0 24px;
  font-size: var(--font-size-text-lg);
  line-height: var(--line-height-text-lg);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray-300);
}

@media (max-width: 767px) {
  .faq {
    gap: 32px;
    padding: 60px 16px;
  }

  .faq__heading {
    font-size: var(--font-size-h2-mobile);
    line-height: var(--line-height-h2-mobile);
  }
}
