* {
  margin: 0;
  padding: 0;
}
body {
  color: var(--color-black);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #111111;
  --color-gray-300: #737373;
  --color-gray-200: #cacacb;
  --color-gray-100: #ebebeb;
  --color-gray-50: #f5f5f5;

  /* Typography */
  --font-family-base: "Poppins", sans-serif;

  --font-size-h1-desktop: 48px;
  --font-size-h1-mobile: 30px;
  --font-size-h2-desktop: 30px;
  --font-size-h2-mobile: 24px;
  --font-size-text-lg: 16px;
  --font-size-text-md: 14px;

  --line-height-h1-desktop: 48px;
  --line-height-h1-mobile: 36px;
  --line-height-h2-desktop: 36px;
  --line-height-h2-mobile: 32px;
  --line-height-text-lg: 24px;
  --line-height-text-md: 20px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

.button {
  width: fit-content;
  padding: 16px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: 0;
  border-radius: 8px;
}

.button-wide {
  width: 100%;
}

.button--light {
  background-color: #ffffff;
  transition: 0.2s ease-in-out;
}

.button--light:hover {
  cursor: pointer;
  background-color: #cacacb;
}

.button--dark {
  background-color: #111111;
  color: #ffffff;
  transition: 0.2s ease-in-out;
}

.button--dark:hover {
  cursor: pointer;
  background-color: #737373;
}

.accordion-header {
  font-family: inherit;
  border: 0;
  background-color: unset;
  cursor: pointer;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}
