/* COLLECTION STYLES */
.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 80px;
}

.collection__heading {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.collection__wrapper {
  position: relative;
  width: 100%;
}

.collection__list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}

.collection__list-text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.collection__list-item-heading,
.collection__list-item-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.collection__list-item-price {
  color: #737373;
}

/* SWIPER RELATED STYLES */
.collection__list-swiper {
  position: absolute;
  right: -20px;
  top: 50%;
  z-index: 1;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}
