.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 48px;
  padding: 80px 284px;
  background-color: #f5f5f5;
}

.faq__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq__heading {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.faq__text {
  color: #737373;
}

.faq__accordion {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.faq__accordion-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 8px;
  background-color: #ffffff;
}

.faq__accordion-item.active .faq__accordion-content {
  padding: 0 24px 24px 24px;
}

.faq__accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  font-family: inherit;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffffff;
}

.faq__accordion-heading {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.faq__accordion-content {
  max-height: 0;
  padding: 0 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  overflow: hidden;
  color: #737373;
  transition: 0.3s ease;
}
