.hero {
  height: 750px;
}

.hero__swiper {
  height: 100%;
}

.hero__slide {
  background-size: cover;
  background-position: bottom center;
}

.hero__inner {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  display: flex;
  align-items: center;
  max-width: 648px;
  margin-left: 60px;
  color: #ffffff;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero__heading {
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  text-transform: uppercase;
}

.hero__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.swiper-pagination {
  position: absolute;
  bottom: 24px !important;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 6px;
  border-radius: 6px;
  background-color: #cacacb;
}

.swiper-pagination-bullet-active {
  background: #ffffff;
}
