.hero {
  height: 750px;
}

.hero__swiper {
  height: 100%;
}

.hero__slide {
  background-size: cover;
  background-position: bottom center;
}

.hero__inner {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  display: flex;
  align-items: center;
  max-width: 648px;
  margin-left: 60px;
  color: #ffffff;
}

.hero__content,
.hero__content-wrapper {
  display: flex;
  flex-direction: column;
}
.hero__content {
  gap: 32px;
}

.hero__content-wrapper {
  gap: 16px;
}

.hero__heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.hero__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.swiper-pagination {
  position: absolute;
  bottom: 24px !important;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 6px;
  border-radius: 6px;
  background-color: #cacacb;
}

.swiper-pagination-bullet-active {
  background: #ffffff;
}

/* Tablet: from 768px up to 1279px */
@media (min-width: 768px) and (max-width: 1279px) {
}

/* Mobile: less than 768px */
@media (max-width: 767px) {
  .hero {
    height: 600px;
  }
  .hero__inner {
    max-width: fit-content;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
  }

  .hero__content {
    align-items: center;
  }

  .hero__heading {
    font-size: 30px;
    line-height: 36px;
  }
}
