.product {
  display: flex;
  padding: 80px 60px;
  gap: 60px;
}

.product__gallery {
  display: flex;
  gap: 24px;
}

.product__gallery-swiper {
  max-height: 536px;
}

.product__gallery-item,
.product__main-variant {
  width: 88px !important;
  height: 88px !important;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.product__gallery-item {
  position: relative;
}

.product__gallery-image,
.product__main-variant-image,
.product__gallery-preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.product__gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: var(--color-black);
  opacity: 0;
}

.product__gallery-item.active .product__gallery-overlay {
  opacity: 20%;
}

.product__gallery-preview {
  position: relative;
  width: 536px;
  height: 536px;
  border-radius: 8px;
}

.product__gallery-badge {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  gap: 4px;
  padding: 8px;
  font-size: var(--font-size-text-md);
  line-height: var(--line-height-text-md);
  font-weight: var(--font-weight-regular);
  border-radius: 4px;
  background-color: var(--color-white);
}

.product__main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.product__main-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.product__main-heading {
  font-size: var(--font-size-h2-desktop);
  line-height: var(--line-height-h2-desktop);
  font-weight: var(--font-weight-regular);
}

.product__main-price {
  font-size: var(--font-size-text-lg);
  line-height: var(--line-height-text-lg);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray-300);
}

.product__main-variants {
  display: flex;
  gap: 8px;
}

.product__main-variant.active {
  border: 1px solid var(--color-black);
}

.product__main-size {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product__main-size-variants {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.product__main-size-variant {
  padding: 16px;
  font-family: inherit;
  font-size: var(--font-size-text-md);
  line-height: var(--line-height-text-md);
  font-weight: var(--font-weight-regular);
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--color-gray-100);
  background-color: var(--color-white);
}

.product__main-size-variant.active {
  border: 1px solid var(--color-black);
}

.product__main-description {
  font-size: var(--font-size-text-md);
  line-height: var(--line-height-text-md);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray-300);
}

@media (min-width: 768px) and (max-width: 1279px) {
  .product {
    flex-direction: column;
    padding: 60px 16px;
    gap: 24px;
  }
  .product__gallery {
    flex-direction: column-reverse;
  }
  .product__gallery-swiper {
    margin: 0;
    max-width: 536px;
  }
}

@media (max-width: 767px) {
  .product {
    flex-direction: column;
    padding: 60px 16px;
    gap: 24px;
  }

  .product__gallery {
    flex-direction: column-reverse;
  }
  .product__gallery-swiper {
    margin: 0;
    max-width: 536px;
  }

  .product__gallery-preview {
    width: 343px;
    height: 343px;
  }

  .product__main-heading {
    font-size: var(--font-size-h2-mobile);
    line-height: var(--line-height-h2-mobile);
  }

  .product__main {
    gap: 24px;
  }

  .product__main-size-variants {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}
